.Quiz-main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(180deg, #0d47a1 0%, #42a5f5 100%);
}

.Quiz-main h1 {
  color: white;
  margin-left: 10px;
}

.Quiz-wrapper {
  width: 800px;
}
