.quiz_main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #1565c0 0%, #90caf9 100%);
}

.quiz_main h1 {
  color: white;
  margin-left: 10px;
}
